
@font-face {
    font-family: "Gnuolane Free Cyrillic";  
    src: url("fonts/GnuolaneFreeCyrillic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
body{
    font-family: 'Gnuolane Free Cyrillic';

}
.navigation{
    text-align: center;
    
    line-height: 25px;
    & li{
        width: 120px;
        
    }
}
.my-menu-item{
    color: black !important;
    font-size: 20px;
    &:hover{
        font-size: 25px;
        transform: scale (1.05);
        transition: 0.5s;
    }
}
.main__photo{
    width: 100%;
    visibility: unset;
    background-repeat: no-repeat;

    
}

.block__content{

    background-color: white !important;
    
    position: relative;
    top: -150px;
    padding-top: 100px;
    &__text{
        
        width: 59vw;
        
        
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        line-height: 25px;
       
    }
}

.main__container{
    
    

    &__item{

        
        margin-bottom: 80px;
        &__img{
            width: 531px;
            height: 400px;
            position: relative;
            border: 1px solid grey;

        }
        img{
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            
        }
        h1{
            margin-top: 20px;
            
            font-size: 25px;
            line-height: 31px;
        }
        h2{
            font-size: 20px;
            line-height: 25px;
            margin-top: 15px;
        }
        &__button{
            margin-top: -50px;
            display: block;
            margin-left: 370px;
            padding: 10px 40px 10px 40px;
            background-color: white;
            border: 1px solid black;
            &:hover{
                background-color: black;
                color: white;
            }
        }
        
        
    }
}
.more_paintings{
    font-family: "Gnuolane Free Cyrillic";
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    color: black;
    
   
    &:hover{
        
        text-decoration: none;
    
    }
}
.slider{
    margin-top: 77px;
}
.line{
    margin-top: 50px;
}
.foot-bg{
    background-color: black;
    height: 267px;
    margin-top: 200px;
    padding: 0;
}
.footer{
    padding: 0;
  
}
.painting{
    margin-top: 160px;
}
.h1{
    margin-top: 120px;
    font-size: 35px;
    line-height: 43px;
    font-family: "Gnuolane Free Cyrillic";
}
